In [2]:
import pandas as pd
mpg = pd.read_csv('mpg.csv')
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [8]:
# cyl 값이 4인 컬럼을 출력하려면?
mpg.query('cyl == 4')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
7,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
224,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact
227,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize
228,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize

In [9]:
# hwy가 30 이상인 경우를 추출하려면?
mpg.query('hwy >= 30')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
33,chevrolet,malibu,2.4,2008,4,auto(l4),f,22,30,r,midsize
99,honda,civic,1.6,1999,4,manual(m5),f,28,33,r,subcompact
100,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
101,honda,civic,1.6,1999,4,manual(m5),f,25,32,r,subcompact
103,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
104,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
105,honda,civic,1.8,2008,4,auto(l5),f,25,36,r,subcompact
106,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,subcompact
110,hyundai,sonata,2.4,2008,4,auto(l4),f,21,30,r,midsize
111,hyundai,sonata,2.4,2008,4,manual(m5),f,21,31,r,midsize
143,nissan,altima,2.5,2008,4,auto(av),f,23,31,r,midsize
144,nissan,altima,2.5,2008,4,manual(m6),f,23,32,r,midsize
181,toyota,camry,2.4,2008,4,manual(m5),f,21,31,r,midsize
182,toyota,camry,2.4,2008,4,auto(l5),f,21,31,r,midsize
188,toyota,camry solara,2.4,2008,4,manual(m5),f,21,31,r,compact
189,toyota,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact
193,toyota,corolla,1.8,1999,4,auto(l3),f,24,30,r,compact
194,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact
195,toyota,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact
196,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact
197,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact
212,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact
221,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact
222,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact

In [21]:
# 2000년도부터 생산된 것들 중에서 displ이 2.0 이상인 것을 추출하면?
mpg.query('displ >= 2.0 & year >= 2000')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
6,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
10,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
225,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
226,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [31]:
# cyl이 5일 때 컬럼을 추출하면?
cyl1 = mpg.query('cyl == 5')
cyl1

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
217,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact
218,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact
225,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
226,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact

In [32]:
# cyl1 으로 출력된 항목에서 cty의 평균을 구하면?
cyl1['cty'].mean()

20.5

In [33]:
# cyl1 으로 출력된 항목에서 sum을 구하면?
cyl1['cty'].sum()

82

In [37]:
# cyl1에 new 컬럼을 만들고 Sell 값을 넣으려면?
cyl1['new'] = 'Sell'
cyl1

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_8832\2988775409.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cyl1['new'] = 'Sell'

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category,new
217,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact,Sell
218,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact,Sell
225,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact,Sell
226,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact,Sell

In [38]:
# cyl1의 정보를 출력하려면?
cyl1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 217 to 226
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  4 non-null      object
 1   model         4 non-null      object
 2   displ         4 non-null      float64
 3   year          4 non-null      int64
 4   cyl           4 non-null      int64
 5   trans         4 non-null      object
 6   drv           4 non-null      object
 7   cty           4 non-null      int64
 8   hwy           4 non-null      int64
 9   fl            4 non-null      object
 10  category      4 non-null      object
 11  new           4 non-null      object
dtypes: float64(1), int64(4), object(7)
memory usage: 416.0+ bytes

In [39]:
# cty와 hwy만 출력하기
mpg[['cty','hwy']]

     cty  hwy
0     18   29
1     21   29
2     20   31
3     21   30
4     16   26
..   ...  ...
229   19   28
230   21   29
231   16   26
232   18   26
233   17   26

[234 rows x 2 columns]

In [48]:
# 1999년도의 manufacturer를 추출하려면?
mpg.query('year==1999')['manufacturer']

0            audi
1            audi
4            audi
5            audi
7            audi
          ...
224    volkswagen
227    volkswagen
228    volkswagen
231    volkswagen
232    volkswagen
Name: manufacturer, Length: 117, dtype: object

In [57]:
# year 오름차순으로 출력하려면?
mpg.sort_values('year')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
125,jeep,grand cherokee 4wd,4.7,1999,8,auto(l4),4,14,17,r,suv
130,land rover,range rover,4.0,1999,8,auto(l4),4,11,15,p,suv
133,land rover,range rover,4.6,1999,8,auto(l4),4,11,15,p,suv
134,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv
...,...,...,...,...,...,...,...,...,...,...,...
128,jeep,grand cherokee 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv
127,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,14,19,r,suv
126,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv
144,nissan,altima,2.5,2008,4,manual(m6),f,23,32,r,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [58]:
# year 내림차순으로 출력하려면?
mpg.sort_values('year', ascending=False)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
117,hyundai,tiburon,2.0,2008,4,manual(m5),f,20,28,r,subcompact
120,hyundai,tiburon,2.7,2008,6,manual(m6),f,16,24,r,subcompact
122,jeep,grand cherokee 4wd,3.0,2008,6,auto(l5),4,17,22,d,suv
123,jeep,grand cherokee 4wd,3.7,2008,6,auto(l5),4,15,19,r,suv
126,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv
...,...,...,...,...,...,...,...,...,...,...,...
130,land rover,range rover,4.0,1999,8,auto(l4),4,11,15,p,suv
50,dodge,dakota pickup 4wd,3.9,1999,6,auto(l4),4,13,17,r,pickup
51,dodge,dakota pickup 4wd,3.9,1999,6,manual(m5),4,14,17,r,pickup
125,jeep,grand cherokee 4wd,4.7,1999,8,auto(l4),4,14,17,r,suv
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact

In [60]:
# manufacturer와 model을 함께 정렬하려면?
mpg.sort_values(['manufacturer','model'])

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [61]:
# tot = cty + hwy 를 새로운 컬럼으로 추가
mpg.assign(tot = mpg['cty']+mpg['hwy'])

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category,tot
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,47
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,50
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,51
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,51
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,42
...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,47
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,50
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,42
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,44
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,43

In [63]:
# cty와 hwy의 합인 tot을 lambda식으로 전처리하려면?
mpg.assign(tot = lambda x: x['cty'] + x['hwy'])

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category,tot
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,47
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,50
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,51
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,51
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,42
...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,47
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,50
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,42
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,44
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,43